FP/LM/tema1/biblioteca/biblioteca.dtd

<!ELEMENT biblioteca(libro+, enciclopedia+)>
<!ELEMENT libro (titulo, autores+, año_publicación)>
<!ELEMENT enciclopedia (titulo, editorial, temática)>
<!ATTLIST libro 
id ID #REQUIRED
>
<!ATTLIST enciclopedia 
id ID #REQUIRED
>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autores (#PCDATA)>
<!ELEMENT año_publicación (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT temática (#PCDATA)>