FP/LM/tema1/hospital_alumno.dtd

<!-- =============================================================
  DTD: hospital_alumno.dtd
  Autor: David Cuadra Lara
  Descripción:
    Define la estructura del XML de pedidos de farmacia hospitalaria
    para el Hospital de Alta Resolución de Roquetas de Mar.
    Cumple los siguientes requisitos establecidos en la actividad.
============================================================== -->

<!-- Podremos tener cero o muchos pedidos. -->
<!ELEMENT pedidos (pedido*)>

<!-- Un pedido puede no tener definido un cliente. -->
<!ELEMENT pedido (cliente?, productos)>

<!-- Un cliente tendrá nombre o razón social; 'cod' obligatorio -->
<!ELEMENT cliente (nombre | razon_social)>
<!ATTLIST cliente cod CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT razon_social (#PCDATA)>

<!-- La lista de productos contendrá al menos un producto. -->
<!ELEMENT productos (producto+)>

<!-- Producto primero cantidad, nombre y precio -->
<!ELEMENT producto (cantidad?, nombre, precio)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>

<!-- 
Atributo ‘familia’ podrá tener los siguientes valores: 
Antibióticos, Antisépticos y Antiácidos. Su valor por defecto será: Antivírico. 
-->
<!ATTLIST producto 
familia (Antibióticos | Antisépticos | Antiácidos | Antivírico) "Antivírico">

<!-- 
El atributo ‘pagado’ solamente podrá tener los valores: sí o no. Este atributo será opcional.
Atributo fijo para moneda cuando intervenga un precio.
-->
<!ATTLIST precio
    pagado (sí | no) #IMPLIED
    moneda #FIXED "Euros"
>