FP/LM/tema1/EjercicioReggio/reggio.dtd

<!ELEMENT Reggio(establecimiento+)>
<!ELEMENT establecimiento(pedido+, tienda, almacen)>
<!ELEMENT pedido(datos, nombre_empleado, fecha, articulos+)>
<!ELEMENT nombre_empleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT tienda(albaran, pago)>
<!ELEMENT almacen EMPTY>
<!ATTLIST pedido 
cod_pedido ID #REQUIRED 
tipo(URGENTE | NORMAL) #REQUIRED
>
<!ATTLIST tienda 
pedido_ref IDREF #REQUIRED
>
<!ATTLIST almacen 
id_almacen ID #REQUIRED 
pedido_ref IDREF #REQUIRED 
estado(RECIBIDO | PENDIENTE) #REQUIRED
>
<!ELEMENT datos(nombre, direccion_envio, direccion_almacen?)>
<!ELEMENT direccion_envio(Via, numero, localidad, provincia, cp)>
<!ELEMENT direccion_almacen(Via, numero, localidad, provincia, cp)>
<!ELEMENT articulos(cantidad, precio, observaciones?)>
<!ATTLIST articulos 
cod_articulo ID #REQUIRED
>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT Via (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio 
CDATA #FIXED "EUR"
>
<!ELEMENT observaciones (#PCDATA)>
<!ELEMENT albaran (fecha, observaciones?)>
<!ATTLIST albaran estado(RECIBIDO | PENDIENTE) #REQUIRED>
<!ELEMENT pago EMPTY>
<!ATTLIST pago estado (PAGADO | PENDIENTE) #REQUIRED fecha CDATA #REQUIRED>